body {
height: 100vh;
background-color: rgb(228, 228, 228);
display: flex;
justify-content: center;
align-items: center;
}

.container {
    height: 500px;
    width: 700px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.roundedimg {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.rounded-image {
    border-radius: 100%;
    object-fit: cover;
}