body {
height: 100vh;
background-color: rgb(228, 228, 228);
display: flex;
justify-content: center;
align-items: center;
}

.container {
    height: 550px;
    width: 400px;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    box-shadow: 0 0 10px 2px rgb(148, 148, 148) ;
}
.roundedimg {
margin-top: 120px;
}
.rounded-image {
    border-radius: 100%;
    object-fit: cover;
}

.main-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight:bolder;
    line-height: 0%;
}

.ptext {
    line-height: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(157, 157, 157);
    
}

.button {
    margin-top: auto;
    margin-bottom: 35px;

}

.button button {
    padding: 15px 30px; 
    font-size: 20px; 
    width: 300px; 
    height: 60px; 
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 50px;
}

.close {
   position: absolute;
   top: 1%;
   right: 2%;
   font-size: 35px;
   color: lightgrey;
}

